body, html {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
}
 
body {
  font-size: 1rem/16;
  margin-top: 50px;
}
 
li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
ul {
  margin-top: 10px;
}
 
li {
  font-size: 0.8rem;
  margin-bottom: 8px;
  text-align: center;
  color: #959595;
}
 
li:last-of-type {
  margin-bottom: 50px;
}
 
.container_user
{
    height: 500px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container_cart {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    height: 100%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    background-color: #8295b8;
    border-radius: 5%;
  }
  .container_cart * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .info_cart {
    width: 100%;
    padding: 15px 25px;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .container_cart .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .container_cart h3 {
    margin: 0 0 5px;
    font-weight: 400;
  }
